* {
    font-size: 24px;
    font-family: "sans-serif", serif;
}

body {
    background: black;
}

h1 {
    font-size: 36px;
    background-color: rgba(255, 255, 255, 0.3);
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}

h2 {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}

div {
    margin: 10px;
    border-radius: 5px;
}

input[type=checkbox] {
    width: 25px;
    /*margin-left: 50px;*/
}

.background {
    overflow: auto;
    position: relative;
}

.background::before {
    background-image: url("background.jpg");
    margin: 0;
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;

    display: block;
    background-size:cover;
    width: 100%;
    height: 100%;

    -webkit-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

.start-block {
    padding: 3px;
    background-color: rgba(255, 255, 255, 0.4);
}

.start-questions {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.start-block-header {
    padding: 20px;
}

.start-block-header:hover {
    background-color: rgba(200, 200, 200, 0.4);
}

.compare-block {
    padding: 3px;
    background-color: rgba(255, 255, 255, 0.4);
}

.compare-body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.question-block {
    padding: 3px;
    background-color: rgba(255, 255, 255, 0.3);
}

.single-melody-block {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
}

.two-columns {
    grid-column: 1 / 3;
}

.slider {
    -webkit-appearance: none;
    width: 75%;
    height: 10px;
    border-radius: 5px;
    margin: 5px;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background: darkorange;
    width: 20px;
    height: 20px;
    cursor: pointer;
    border-radius: 50%;
    /*border-style: solid;*/
}

.slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: orange;
    cursor: pointer;
}

.center {
    text-align: center;
}

.active, .collapsible:hover {
    background-color: rgba(200, 200, 200, 0.4);
}

.collapsible-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
}

.active-button {
    margin: 10px;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 10px;
    border: none;
}

.active-button:hover {
    background: rgba(200, 200, 200, 0.4);
}

.active-button:active {
    background: rgba(100, 100, 100, 0.4);
}

#submission-container {
    background-color: rgba(255, 255, 255, 0.4);
    margin-left: 20px;
    margin-right: 20px;
}

.complete-block {
    background-color: rgba(100, 255, 100, 0.4);
}